@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
#app {
  background-color:#4f5965;  
  margin: 0 auto;
  font-weight: normal;
  font-family: "Noto Sans Thai", sans-serif;
}
input[type="checkbox"]{
  cursor: pointer;
  
}
button{
  font-family: "Quicksand", sans-serif;
  cursor: pointer;
  box-shadow: 1px 1px 6px 0.3px rgb(0, 0, 0,0.8);
}
.con{
  padding: 2rem;
  box-shadow: 1px 1px 6px 0.3px rgb(0, 0, 0,0.8);
  border-radius: 1rem;
  color: #fff;
}
.con input,textarea{
  box-shadow:1px 1px 10px 1px rgba(255, 255, 255, 0.271);
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  font-family: "Noto Sans Thai", sans-serif;
}
.con-bt{
  text-align: right;
  margin: 1rem 1rem;
}
.con-bt button{
  margin-right: 1rem;
}
