@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
#app {
  background-color:#4f5965;  
  margin: 0 auto;
  font-weight: normal;
  font-family: "Noto Sans Thai", sans-serif;
}
input[type="checkbox"]{
  cursor: pointer;
  
}
button{
  font-family: "Quicksand", sans-serif;
  cursor: pointer;
  box-shadow: 1px 1px 6px 0.3px rgb(0, 0, 0,0.8);
}

.container{
  background-color:#3d444c;
  width: 80vw;
  max-width: 1000px;
  height: 90vh;
  max-height: 900px;
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0px 15px 15px 2px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;  
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1rem;
  text-align: center;
  align-content: center;
}
.container div{
  margin: 1rem 0;
}
.container input[type="text"],input[type="date"],textarea{
  background: rgba(255, 255, 255, 0.932);
  border:none;
  font-size: 1rem;
  padding: 1rem;
  width: 90%;
  font-family: "Noto Sans Thai", sans-serif;
  border-radius: 1.5rem;
  box-shadow:1px 1px 10px 1px rgba(255, 255, 255, 0.827);
}
.con-bt{
  padding: 1rem;
}
.con-bt button{
  margin: 0 1rem;
  font-size: 1rem;
  padding: 1rem 2rem;
  box-shadow: 0px 15px 15px 2px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width:700px) {
  .container{
    background-color:#3d444c;
    width: 80vw;
    max-width: 1000px;
    height: 90vh;
    max-height: 900px;
    padding: 2rem;
    border-radius: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1rem;
    text-align: center;
  }
  .container div{
    margin: 1rem 0;
  }
  .container input[type="text"],input[type="date"],textarea{
    font-size: 1rem;
    padding: 1rem;
    width: 90%;
    font-family: "Noto Sans Thai", sans-serif;
    border-radius: 1rem;
    box-shadow: 0px 15px 15px 2px rgba(0, 0, 0, 0.5);
  }
  .con-bt{
    padding: 1rem;
  }
  .con-bt button{
    margin: 0 1rem;
    font-size: 1rem;
    padding: 1rem 2rem;
    box-shadow: 0px 15px 15px 2px rgba(0, 0, 0, 0.5);
  }
  
}
